@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Regular.eot');
  src: url('../../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Bold.eot');
  src: url('../../fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Bold.woff') format('woff'),
      url('../../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Ultralight.eot');
  src: url('../../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Ultralight.woff') format('woff'),
      url('../../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Light.eot');
  src: url('../../fonts/SFProDisplay-Light.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Light.woff') format('woff'),
      url('../../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}