div.text-list.simplebar-horizontal-only.simplebar-position-left
    each text in new Array(10).fill(0)
        div.text-list-item
            +text('Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium earum expedita suscipit repellat consectetur accusamus omnis minus quas sequi? Optio repellendus expedita eveniet, magnam impedit eius molestias perspiciatis temporibus dignissimos?')