include ./baseTemplate.pug

+sidebar
    // you can use "active" class at li elements in sidebar-socials-list
    ul.sidebar-socials-list
        - const socials = require('database/socials_me.json');
        each social in socials
            li.sidebar-socials-list-item
                a.sidebar-socials-list-item__link(href= social.link class= `sidebar-socials-list-item__link--${social.name}`)
                    +svg(social.img)
    include ./../../footer/text.pug
    